main {
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
}

.top {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    width: 250px;
    height: 100px;
    color: white;
    background-color: rgb(0, 100, 255);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 200, 255);
}

.a, .b, .c {
    position: relative;
    width: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.torre {
    background: black;
    width: 10px;
    height: 400px;

}

.disco {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 50px;
    background-color: red;
    border: 2px solid black
}

.movimentos {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 50px;
    right: 50px;
    background-color: black;
    color: white;
    font-size: 50px;
    width: 200px;
    height: 200px;
}

.titulo{
    position: fixed;
    font-size: 30px;
    height: 100%;
    top: 20px;
    right: 50px;
}